<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StampIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StampIt.Properties.Settings>
            <setting name="StoreLocation" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="ModificatorKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="ModificatorValue" serializeAs="String">
                <value />
            </setting>
        </StampIt.Properties.Settings>
    </userSettings>
</configuration>